* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
}

body {
    background-color: #36393f !important;
}

.formulaire {
    background-color:whitesmoke;
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 20px solid blue;
}

#retour {
  width: 400px;
  margin: auto;
  text-align: center;
}

.submit {
    width: 350px;
}

table{
    
    color: whitesmoke;
    border-collapse: collapse;
    width: 50em;
    margin: auto;
    margin-top: 10em;
  
  }
  
  table td, table th {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
  
  }
  
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
  }